@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-white/10 backdrop-blur-md border border-white/20;
  }
}

body {
  @apply bg-slate-950 text-slate-50 min-h-screen font-sans;
}
